{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h1>Add Product</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        <label for="id_name">Name</label>
        {{ form.name|add_class:"form-control"}}
        <span class="text-danger">{{ form.name.errors|striptags }}</span>
      </div>
      <div class="col-6">
        <label for="id_category">Category</label>
        {{ form.category|add_class:"form-control" }}
        <span class="text-danger">{{ form.category.errors|striptags }}</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-6">
        <label for="id_price">Price</label>
        {{ form.price|add_class:"form-control" }}
        <span class="text-danger">{{ form.price.errors|striptags }}</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-6">
        <label for="id_desc">Description</label>
        {{ form.description|add_class:"form-control" }}
        <span class="text-danger">{{ form.description.errors|striptags }}</span>
      </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
{% endblock %}
